*,
::before,
::after {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

div {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2rem;
  align-items: center;
}

header nav {
  display: inline;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

header nav a {
  text-decoration: none;
  padding: 1rem;
  margin-right: 1rem;
  color: #5b5252;
}

.intro .logo-img {
  padding-left: 2rem;
  margin-top: 2rem;
}

.container {
  display: flex;
  margin-bottom: 8rem;
  width: 100%;
}

.container .intro-1 {
  width: 50%;
  padding: 4rem;
  margin-top: 8rem;
}

form .first-email {
  padding: 1rem 5rem 1rem 1rem;
  margin: 1rem 0.5rem 0 0;
  font-size: 1.4rem;
  outline: none;
}

form .first-submit {
  padding: 1rem 4rem;
  background-color: #3065f8;
  border: 1px solid #e1d4d4;
  text-align: center;
  color: #ffffff;
  border-radius: 3px;
  font-size: 1.4rem;
}

.first-submit:hover {
  background-color: #6383e2;
}

.curve {
  display: flex;
  background-image: url("../images/bg-curve-desktop.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
}

.curve .intro-2 {
  padding: 4rem;
  width: 50%;
  padding-top: 9rem;
}

.curve .intro-2 h1 {
  margin-bottom: 2rem;
}

.curve .intro-2 .content {
  margin-bottom: 2rem;
  font-size: smaller;
  width: 80%;
  font-weight: 500;
  color: #1f1e1e;
}

.curve .intro-2 a {
  padding-bottom: 1rem;
  color: #3c9f8f;
}
.curve .intro-2 a:hover {
  color: #83e1d1;
}

.curve .intro-2 a i {
  font-size: 1.2rem;
}

.image-1 {
  margin: 9rem 0 0 9rem;
  width: 50rem;
}

.image-2 {
  width: 35rem;
  margin: 12rem 0 0 3rem;
}

.card {
  box-shadow: 1px 2px 3px #e5e1e1;
  margin: 3rem 0px 0px;
  padding: 2rem;
  width: 55%;
  border-radius: 3px;
  background-color: #ffffff;
}

.card p {
  font-size: smaller;
}

.ceo {
  display: flex;
  flex-direction: row;
}

.avatar {
  width: 65px;
  border-radius: 50%;
  padding: 0.9rem;
  margin: 0;
}
.ceo-identity h5 {
  padding-top: 1.5rem;
}

.ceo-identity p {
  font-size: smaller;
}

.reach {
  display: flex;
  padding: 4rem;
  justify-content: space-between;
  background-color: #585989;
}

.first {
  width: 40%;
  padding-top: 2rem;
  color: #ffffff;
}

.first h3 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}

.first p {
  font-size: smaller;
  font-weight: 400;
  width: 85%;
}

.access-form-container {
  display: block;
  padding: 2rem 12rem 0 0;
}

.second-email input[type="email"] {
  padding: 1rem 26rem 1rem 1rem;
  margin-bottom: 1rem;
  font-size: smaller;
}
.second-submit input[type="submit"] {
  padding: 1rem 2rem;
  border-radius: 3px;
  background-color: #3065f8;
  border: none;
  color: #ffffff;
}

.second-submit input[type="submit"]:hover {
  background-color: #6383e2;
}

footer {
  background-color: #070439;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 4rem;
}

.initial {
  margin: 0;
  padding: 0;
  display: flex;
}

.f-1 {
  margin: 0;
  padding: 0;
}

.f-1 .logo-img {
  margin: 0;
  padding: 0;
  display: flex;
}

.icons {
  display: flex;
  flex-direction: column;
}

.icons img {
  width: 20px;
  align-items: flex-start;
  margin: 0;
}

.detail {
  display: flex;
  flex-direction: column;
}

.contact {
  width: 25%;
  position: relative;
}

.contact-01 {
  width: 25%;
  position: relative;
  margin-left: -29.5rem;
  margin-top: 3rem;
}

.initial p {
  position: absolute;
  left: 24px;
  top: 1px;
}
.links {
  display: flex;
}
ul {
  list-style: none;
}
.links-1,
.links-2 {
  padding: 0 11rem 0 0;
  font-size: smaller;
}
.links a {
  color: #e0d6d6;
  text-decoration: none;
}

.links ul li {
  padding-bottom: 1rem;
}
.fa-brands {
  border: 0.5px solid #ffffff;
  padding: 0.5rem;
  border-radius: 100%;
}

.fa-brands:hover {
  border-color: #7999f0;
  color: #7999f0;
}
